body{
  background-image: url(Sfondo.jpg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center top;
  margin-top: 20px;
  color: white;
}

*{
  box-sizing: border-box;
  margin: 0;
}

.Container{
  width: 800px;
  height: 550px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 70px 50px 50px 50px;
}

.logo{
  width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#titolo{
  color: #00EE00;
  font-size: 25px;
  text-align: center;
}

.Booking{
  width: 100%;
  height: 30px;
  background-color: #00EE00;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

.lista{
  margin: 20px 0px;
}

.Name{
  font-size: 20px;
}

.Indirizzo{
  font-size: 12px;
}

#loadGino{
  width: 35%;
  height: 18px;
  background-color: #CD853F;
  border-radius: 3px;
}

#loadMike{
  width: 65%;
  height: 18px;
  background-color: #18EE25;
  border-radius: 3px;
}

#loadFede{
  width: 15%;
  height: 18px;
  background-color: #BB2020;
  border-radius: 3px;
}
